POSTGRES_USER=user
POSTGRES_PASSWORD=SDrive516477#
POSTGRES_DB=shadowdrive
DATABASE_URL=postgresql://user:SDrive516477%23@localhost/shadowdrive
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=shadowdrive-secret-key-change-in-production
